* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-header .container {

    display: flex;
    align-items: center;
    gap: 1rem;

}

.site-header nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.container {

    /* border: 2px solid; */

    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    padding: 1.5rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.hero {
    background-color: blue;
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-items: center; */
    background-color: yellow;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

main {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.testimonial-wrapper {
    container-type: inline-size;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 1rem; /*dopo vediamo come aumentare o cosa*/
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 2rem;

}

.features-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "tdt"
        "floya"
        "kjolen";
    gap: 2rem;
    width: 100%;
}

.features-grid img {
    width: 100%;
}

.tour-tdt {
    grid-area: tdt;
}

.tour-floya {
    grid-area: floya;
}

.tour-kjolen {
    grid-area: kjolen;
}

@media (min-width: 768px) {
    
    .hero .container {
        flex-direction: row;
        align-items: center;
    }

    .hero-content, 
    .hero img {
        flex: 1;
        min-width: 0;
    }

    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .features-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "tdt floya"
            "tdt kjolen";
    }

}

@container (min-width: 400px) {
    .testimonial-card {
        /* display: flex; */
        flex-direction: row;
    }
}